{% extends 'first.html' %}
{% block title %}Game{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainstyle.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="content">
            <h1 style="text-align: center">Host: {{email}}</h1>
            {% if tasks|length < 1 %}
            <h4 style="text-align: center">There are no players. Add some below!</h4>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Added</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.content }}</td>
                            <td>{{ task.date_created.date() }}</td>
                            <td>
                                <a href="/delete/{{task.id}}">Eliminate</a>
                                <br>
                                <a href="/update/{{task.id}}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
        <form actions="/" method="POST" style="text-align:center">
            <input type="text" name="content" id=content>
            <input type="submit" calue="Add Task">
        </form>
        </div>
{% endblock %}